.collection-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 38px;
        text-align: center;
        margin-bottom: 40px;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4%;
    }

}

.no-collection {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}